@tailwind base;
@tailwind components;
@tailwind utilities;

details > summary {
  cursor: pointer;
}

input[type="search"] {
  -webkit-appearance: none;
}

.tooltip:before {
  font-style: normal;
  z-index: 10000;
}
